@import "./parciales/headerFoorer";
@import "./parciales/index";
@import "./parciales/nosotros";
@import "./parciales/tienda";
@import "./parciales/modal";


@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Reenie+Beanie&family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik+One');

body, html {
    height: 100%;
}

/* Media Q*/

@media only screen and (max-width: 1024px) {
    .tienda {
        flex-direction: column;
    }
}

@media only screen and (max-width: 768px) {
    .paginaNosotros {
        margin: 200px 0px;
    }
    .container {
        margin: 0px;
        padding: 0px;
    }
    .flip-card {
        width: 350px;
    }
    .flip-card-front {
        background-color: rgb(0, 0, 0);
        color: black;
    }
    .socials {
        display: none;
    }
    .sec1 {
        flex-direction: column;
    }
    .video1 {
        align-self: center;
    }
}

@media only screen and (max-width: 425px) {
    .hero-text {
        width: 300px;
        height: 400px;
        padding: 0;
        margin-top: 100px;
        h1 {
            font-size: 80px;
        }
    }
    .button {
        margin-top: 80px;
        margin-left: 55px;
        font-size: 3vw;
    }
    .paginaTienda {
            margin: 0px;
            margin-top: 250px;
        }
        .tienda {
            max-width: 300px;
            margin-left: 60px;
        }
        .card {
            max-width: 300px;
            margin-top: 50px;
        }
}

@media only screen and (max-width: 375px) {
    .tienda {
        margin-left: 35px; 
    }
}