/* Hero Section */
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    height: 50%;
    height: 100vh;
    position: relative;
}

.bg-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0px 10px;
}

.hero-text h1 {
    font-family: 'Bangers', cursive;
    font-size: 100px;
}
.hero-text p {
    font-family: 'Reenie Beanie', cursive;
    font-size: 50px;
    margin: 0;
}

.text{
	width: 100%;
	text-align: center;
	height: 50px;
	line-height: 50px;
	font-size: 30px;
	top: 0;
	bottom: 0;
	margin: auto;
}

.text .dash{
	display: inline-block;
	height: 3px;
	width: 20px;
	background-color: #e9ec3d;
	animation: blink .5s infinite linear;
}

@keyframes blink{
	0%{
		opacity: 1;
	}
	99%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}


/* Main */

.bienvenida {
    font-family: 'Bangers', cursive;
    font-size: 100px;
    margin-top: 150px;
    text-align: center;
}

.sec1 {
    display: flex;
    flex-direction: row;
    margin: 100px 20px;
}

.texto1 {
    font-size: 2rem;
    padding: 50px;
}

.video1 {
    display: flex;
    align-items: center;
}
.video1 img {
    width: 400px;
}

.sec2 {
    margin: 100px 20px;
    padding: 50px;
    text-align: center;
}

/* Boton */

%test {
    position: absolute;
    content: '';
    transition: all .5s;
}

.button { 
    display: inline-block; 
    padding: 4px 8px;
    color: rgb(0, 0, 0);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    vertical-align: middle;
    font-family: 'Bangers', cursive;
    text-decoration: none;
    font-size: 2vw;
    transition: all .5s;
    background-color: #e9ec3d;
    margin-left: 70px;
    margin-top: 30px;
    margin-bottom: 10px;

    &::before {
        @extend %test;
        bottom: -15px;
        height: 15px;
        width: 100%;
        left: 8px;
        transform: skewX(45deg);
        background-color: darken(#e9ec3d, 40%);
    }

    &::after {
        @extend %test;
        right: -15px;
        height: 100%;
        width: 15px;
        bottom: -8px;
        transform: skewY(45deg);
        background-color: darken(#e9ec3d, 30%);
    }

    &:active {
        margin-left: 10px;
        margin-top: 10px;
        &::before {
            bottom: -5px;
            height: 5px;
            left: 3px;
        }

    &::after {
            right: -5px;
            width: 5px;
            bottom: -3px;
            }	
    }
}


.success-box {
    margin:50px 0;
    padding:10px 10px;
    border:1px solid #eee;
    background:#f9f9f9;
  }
  
  .success-box img {
    margin-right:10px;
    display:inline-block;
    vertical-align:top;
  }
  
  .success-box > div {
    vertical-align:top;
    display:inline-block;
    color:#888;
  }
  
  .rating-stars ul > li.star {
    display:inline-block; 
  }
  
  .rating-stars ul > li.star > i.fa {
    font-size:2.5em; 
    color:#ccc; 
  }
  
  .rating-stars ul > li.star.hover > i.fa {
    color:#FFCC36;
  }
  
  .rating-stars ul > li.star.selected > i.fa {
    color:#FF912C;
  }