/* Nosotros */

.paginaNosotros {
    margin: 200px 50px;
}
.paginaNosotros h1 {
    text-align: center;
    margin-bottom: 100px;
}

.container {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "profe1 box1"
    "box2 profe2";
}

.profe1 { grid-area: profe1; }

.profe2 { grid-area: profe2; }

.box1 { grid-area: box1; }

.box2 { grid-area: box2; }


.flip-card {
    background-color: transparent;
    width: 414px;
    height: 694px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    background-color: rgb(233, 236, 61);
    color: rgb(0, 0, 0);
    transform: rotateY(180deg);
    padding-top: 30px;
}

.profe2 {
    display: flex;
    justify-content: flex-start;
}
.profe1 {
    display: flex;
    justify-content: flex-end;
}

.box1,.box2 {
    background-color: black;
}